@font-face {
	font-family: 'BastardusSans';
	src: url('assets/BastardusSans.ttf') format('truetype');
}

body {
	margin: 0;
	background-color: #1c1c1c;
	color: #bfbfbf;
	text-align: left;
	font-family: 'BastardusSans', sans-serif;
}

body::before {
	content: "";
	opacity: 0.125;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;

	background-image: url("assets/img/abstergo/industry-s.svg");
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 75% 75%;
}

.login .message, .login #login_error {
	color: #1c1c1c;
}

.login form {
	margin-top: 20px;
	margin-left: 0;
	padding: 26px 24px 46px;
	font-weight: 400;
	overflow: hidden;
	background: inherit;
	border: none;
	box-shadow: none;
}

.login h1 a {
	background-image: url('assets/img/abstergo/logo.svg');
	background-size: contain;
	width: 150px;
	height: 150px;
}

.login #backtoblog a, .login #nav a {
	text-decoration: none;
	color: #bfbfbf;
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
	color: #ebebeb;
}

.login #backtoblog a:focus, .login #nav a:focus, .login h1 a:focus {
	color: #727272;
}

.login form .input, .login input[type="text"] {
	color: #bfbfbf;
	background: #332b2b00;
	box-shadow: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #7e8993;
}
